<h1>Public::Calendars#index カレンダー</h1>

  <%= month_calendar posts: @physiologies do |date, physiologies| %>
    <% link_to new_post_path, class: "physiology-icon" do %>
      <i class="fa-solid fa-heart"><%= date.day %></i>
    <% end %>
  <% end %>
