<h1>Public::Calendars#index カレンダー</h1>

  <%= month_calendar posts: @posts do |date, post| %>
    <% link_to new_post_path(date), class: "physiology-icon" do %>
      <%= date.day %>
    <% end %>
  <% end %>
